{% extends 'template.html' %}

{% block title %} Edit Servers {% endblock %}
{% block main %}

<div class="container-md mt-3">
  <div class="row">
    <div class="col">
      <h1 class="title">Edit Server {{ server_id }}</h1>
    </div>
    <div class="row">
      <div class="col">
        <div id="result"></div>
      </div>
    </div>
    <div class="row">
      <div class="col">

        <form>
          <div class="md-3 row mb-3">
            <label for="server_name" class="col-md-2 col-sm-3 col-form-label">Name: </label>
            <div class="col-md-10 col-sm-9">
              <input name="name" type="text" class="form-control" value="{{ server[2] }}" id="server_name" required>
            </div>
          </div>
          <div class="md-3 row mt-3">
            <label for="server_ip" class="col-md-2 col-sm-3 col-form-label">Ip: </label>
            <div class="col-md-10 col-sm-9">
              <input name="ip" type="text" class="form-control" value="{{ server[1] }}" id="server_ip" required>
            </div>
          </div>
          <div class="md-3 row mt-3">
            <label for="update_time" class="col-md-2 col-sm-3 col-form-label">Update Time: </label>
            <div class="col-md-10 col-sm-9">
              <input name="update_time" type="text" class="form-control" value="{{ server[3] }}" id="update_time" required>
              <div id="update_time" class="form-text">
                The update time in minutes ex: 10
              </div>
            </div>
          </div>
          <div class="md-3 row mt-3">
            <label for="mountpoints" class="col-md-2 col-sm-3 col-form-label">Mountpoints: </label>
            <div class="col-md-10 col-sm-9">
              <input name="mountpoints" type="text" class="form-control" value="{{ disks }}" id="mountpoints">
              <div id="mountpoints" class="form-text">
                The mountpoints separated by space ex: /home /media/usb
              </div>
            </div>
          </div>
          <div class="md-3 row mt-3">
            <label for="ports" class="col-md-2 col-sm-3 col-form-label">Ports: </label>
            <div class="col-md-10 col-sm-9">
              <input name="ports" type="text" class="form-control" value="{{ net }}" id="ports">
              <div id="ports" class="form-text">
                The ports separated by space ex: 22 53
              </div>
            </div>
          </div>
          <div class="md-3 mt-3">
            <div class="form-check">
              <label class="form-check-label" for="cpu">Monitor cpu</label>
              <input name="cpu" class="form-check-input" type="checkbox" id="cpu">
            </div>
            <div class="form-check">
              <label class="form-check-label" for="mem_sys">Monitor memory system</label>
              <input name="mem_sys" class="form-check-input" type="checkbox" id="mem_sys">
            </div>
            <div class="form-check">
              <label class="form-check-label" for="mem_swap">Monitor memory swap</label>
              <input name="mem_swap" class="form-check-input" type="checkbox" id="mem_swap">
            </div>
          </div>
          <div class="mt-5 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary align-right">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
  $(document).ready(() => {
    $('#cpu').attr("checked", {{ config['cpu']|lower }} )
    $('#mem_sys').attr("checked", {{ config['mem_sys']|lower }} )
    $('#mem_swap').attr("checked", {{ config['mem_swap']|lower }} )

    $('form').on('submit', event => {
      $.ajax({
        data: {
          name: $('#server_name').val(),
          ip: $('#server_ip').val(),
          update_time: $('#update_time').val(),
          mountpoints: $('#mountpoints').val(),
          ports: $('#ports').val(),
          cpu: $('#cpu').is(":checked"),
          mem_sys: $('#mem_sys').is(":checked"),
          mem_swap: $('#mem_swap').is(":checked")
        },
        type: 'POST',
        url: '/servers/edit/{{ server[0] }}'
      })
        .done(data => {
          $('#result').html(`<div class="alert alert-success alert-dismissible fade show" role="alert">
              ${ data.message }
              <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                      aria-label="Close"></button>
            </div>`)
        })
        .fail((data, status, error) => {
          $('#result').html(`<div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error: <br></strong> ${ data.responseJSON.error_message }
            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
          </div>`)
        })
      event.preventDefault();
    });
  });
</script>
{% endblock %}
