{% extends 'template.html' %}

{% block title %} Info Server {{ server[2] }} {% endblock %}
{% block main %}

<div class="container-md mt-3">
  <div class="row">
    <div class="col">
      <h1>{{ server[2] }}</h1>
      <h3 class="mb-2 text-muted">ID {{ server[0] }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="nav nav-tabs" id="myTab" role="tablist">
        <a class="nav-link active" id="cpu-tab" data-bs-toggle="tab" href="#cpu" role="tab" aria-controls="cpu" aria-selected="true">CPU</a>
        <a class="nav-link" id="disks-tab" data-bs-toggle="tab" href="#disk" role="tab" aria-controls="disk" aria-selected="false">Disk</a>
        <a class="nav-link" id="sys-mem-tab" data-bs-toggle="tab" href="#mem_sys" role="tab" aria-controls="mem_sys" aria-selected="false">System Memory</a>
        <a class="nav-link" id="swap-mem-tab" data-bs-toggle="tab" href="#mem_swap" role="tab" aria-controls="mem_swap" aria-selected="false">Swap Memory</a>
        <a class="nav-link" id="network-tab" data-bs-toggle="tab" href="#network" role="tab" aria-controls="network" aria-selected="false">Network</a>
        <a class="nav-link" id="regex-tab" data-bs-toggle="tab" href="#regex" role="tab" aria-controls="regex" aria-selected="false">Regex</a>
      </div>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active mt-2" id="cpu" role="tabpanel" aria-labelledby="cpu-tab">
          {% if config[1] and cpus|length > 0 %}
          <div class="row">
            <div class="col">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Logcal Cores {{ cpus[0][2] }}</li>
                <li class="list-group-item">Pyshical Cores {{ cpus[0][3] }}</li>
                <li class="list-group-item">Max Frequency {{ cpus[0][4] }} Mhz</li>
                <li class="list-group-item">Min Frequency {{ cpus[0][5] }} Mhz</li>
              </ul>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col d-flex justify-content-center">
              <canvas id="cpu_freq_chart" width="600" height="400"></canvas>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col d-flex justify-content-center">
              <canvas id="cpu_load_chart" width="600" height="400"></canvas>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col d-flex justify-content-center">
              <canvas id="cpu_usage_chart" width="600" height="400"></canvas>
            </div>
          </div>
          {% else %}
          <div class="alert alert-warning" role="alert">
            The CPU was not monitored or has no values
          </div>
          {% endif %}
        </div>
        <div class="tab-pane fade mt-2" id="disk" role="tabpanel" aria-labelledby="disks-tab">
          {% if config[2] and disk_values|length > 0 %}
          <div class="row">
            <div class="col">
              <ul class="list-group list-group-flush">
                {% for item in disk_values %}
                <li class="list-group-item">
                  Mountpoint <code>{{ item[1] }}</code> {% if item[2]|length > 0 %} Has Values {% else %} No Values {% endif %}
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% for item in disk_values %}

          {% if item[2]|length > 0 %}
          <h3 class="mt-3">Mountpoint <code>{{ item[1] }}</code></h3>
          <div class="row">
            <div class="col-lg-6 d-flex justify-content-center">
              <canvas id="disk_chart_{{ item[0] }}" width="600" height="400"></canvas>
            </div>
            <div class="col-lg-6 d-flex justify-content-center">
              <canvas id="disk_inode_chart_{{ item[0] }}" width="600" height="400"></canvas>
            </div>
          </div>
          {% endif %}
          {% endfor %}

          {% else %}
          <div class="alert alert-warning" role="alert">
            No mountpoints was monitored or has no values
          </div>
          {% endif %}
        </div>
        <div class="tab-pane fade mt-2" id="mem_sys" role="tabpanel" aria-labelledby="sys-mem-tab">
          {% if config[3] and mem_sys|length > 0 %}
          <div class="row">
            <div class="col">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Total system memory {{ mem_sys[0][3] }} MiB ({{ mem_sys[0][3]|round }} MiB)</li>
              </ul>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-lg-6 d-flex justify-content-center">
              <canvas id="mem_sys_chart" width="600" height="400"></canvas>
            </div>
            <div class="col-lg-6 d-flex justify-content-center">
              <canvas id="mem_sys_perc_chart" width="600" height="400"></canvas>
            </div>
          </div>
          {% else %}
          <div class="alert alert-warning" role="alert">
            The system memory was not monitored or has no values
          </div>
          {% endif %}
        </div>
        <div class="tab-pane fade mt-2" id="mem_swap" role="tabpanel" aria-labelledby="swap-mem-tab">
          {% if config[4] and mem_swap|length > 0 %}
          <div class="row">
            <div class="col">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Total swap memory {{ mem_swap[0][3] }} MiB ({{ mem_swap[0][3]|round }} MiB)</li>
              </ul>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-lg-6 d-flex justify-content-center">
              <canvas id="mem_swap_chart" width="600" height="400"></canvas>
            </div>
            <div class="col-lg-6 d-flex justify-content-center">
              <canvas id="mem_swap_perc_chart" width="600" height="400"></canvas>
            </div>
          </div>
          {% else %}
          <div class="alert alert-warning" role="alert">
            The swap memory was not monitored or has no values
          </div>
          {% endif %}
        </div>
        <div class="tab-pane fade mt-2" id="network" role="tabpanel" aria-labelledby="network-tab">
          {% if config[5] and net_values|length > 0 %}
          <div class="row">
            <div class="col">
              <ul class="list-group list-group-flush">
                {% for item in net_values %}
                <li class="list-group-item">
                  Ports <code>{{ item[1] }}</code> {% if item[2]|length > 0 %} Has Values {% else %} No Values {% endif %}
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% for item in net_values %}
          {% if item[2]|length > 0 %}
          <h3>Port <code>{{ item[1] }}</code></h3>
          <div class="row">
            <div class="col d-flex justify-content-center">
              <canvas id="net_chart_{{ item[0] }}" width="600" height="400"></canvas>
            </div>
          </div>
          {% endif %}
          {% endfor %}

          {% else %}
          <div class="alert alert-warning" role="alert">
            No port was monitored or has no values
          </div>
          {% endif %}
        </div>
        <div class="tab-pane fade mt-2" id="regex" role="tabpanel" aria-labelledby="regex-tab">
          {% if regex|length > 0 %}
          <div class="row">
            <div class="col">
              {% for item in regex %}
              <h5 class="mt-3">{{ item[0][1] }} <code>{{ item[0][3] }}</code> tipo <code>{{ item[0][2] }}</code> com regex <code>{{ item[0][4] }}</code> </h5>
              <ul class="list-group list-group-flush">
              {% for i in item[1] %}
              <li class="list-group-item">Result: {{ i[1] }} <small>At: {{ i[2].strftime('%d/%m/%y %H:%M:%S') }}</small></li>
              {% endfor %}
              </ul>
              {% endfor %}
            </div>
          </div>
          {% endif %}
          <div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script> Chart.defaults.global.responsive = false; </script>

{% if config[1] and cpus|length > 0 %}
<script>
  var cpu_freq_data = {
    labels : [{% for item in cpus %} "{{item[9].strftime('%d/%m/%y %H:%M:%S')}}", {% endfor %}],
    datasets : [{
      label: 'Cpu Frequency',
      fill: true,
      lineTension: 0.1,
      backgroundColor: "rgba(75,192,192,0.4)",
      borderColor: "rgba(75,192,192,1)",
      borderCapStyle: 'butt',
      borderDash: [],
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "rgba(75,192,192,1)",
      pointBackgroundColor: "#fff",
      pointBorderWidth: 1,
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(75,192,192,1)",
      pointHoverBorderColor: "rgba(220,220,220,1)",
      pointHoverBorderWidth: 2,
      pointRadius: 1,
      pointHitRadius: 10,
      data: [{% for item in cpus %} {{ item[6] }}, {% endfor %}],
      spanGaps: false
    }]
  }

var cpu_freq_ctx = document.getElementById("cpu_freq_chart").getContext("2d");
var cpu_freq_chart = new Chart(cpu_freq_ctx, {
  type: 'line',
  data: cpu_freq_data,
  options: {
    tooltips: {
      enabled: true,
      mode: 'single',
      callbacks: {
        label: function(tooltipItems, data) {
          return tooltipItems.yLabel + ' Mhz';
        }
      }
    },
  }
});

var cpu_load_data = {
  labels : [{% for item in cpus %} "{{item[9].strftime('%d/%m/%y %H:%M:%S')}}", {% endfor %}],
  datasets : [{
    label: 'Cpu Load Average',
    fill: true,
    lineTension: 0.1,
    backgroundColor: "rgba(75,192,192,0.4)",
    borderColor: "rgba(75,192,192,1)",
    borderCapStyle: 'butt',
    borderDash: [],
    borderDashOffset: 0.0,
    borderJoinStyle: 'miter',
    pointBorderColor: "rgba(75,192,192,1)",
    pointBackgroundColor: "#fff",
    pointBorderWidth: 1,
    pointHoverRadius: 5,
    pointHoverBackgroundColor: "rgba(75,192,192,1)",
    pointHoverBorderColor: "rgba(220,220,220,1)",
    pointHoverBorderWidth: 2,
    pointRadius: 1,
    pointHitRadius: 10,
    data: [{% for item in cpus %} {{ item[7] }}, {% endfor %}],
    spanGaps: false
  }]
}

var cpu_load_ctx = document.getElementById("cpu_load_chart").getContext("2d");
var cpu_load_chart = new Chart(cpu_load_ctx, {
  type: 'line',
  data: cpu_load_data,
  options: {
    tooltips: {
      enabled: true,
      mode: 'single',
      callbacks: {
        label: function(tooltipItems, data) {
          return tooltipItems.yLabel + ' %';
        }
      }
    },
  }
});

var cpu_usage_data = {
  labels : [{% for item in cpus %} "{{item[9].strftime('%d/%m/%y %H:%M:%S')}}", {% endfor %}],
  datasets : [{
    label: 'Cpu Usage',
    fill: true,
    lineTension: 0.1,
    backgroundColor: "rgba(75,192,192,0.4)",
    borderColor: "rgba(75,192,192,1)",
    borderCapStyle: 'butt',
    borderDash: [],
    borderDashOffset: 0.0,
    borderJoinStyle: 'miter',
    pointBorderColor: "rgba(75,192,192,1)",
    pointBackgroundColor: "#fff",
    pointBorderWidth: 1,
    pointHoverRadius: 5,
    pointHoverBackgroundColor: "rgba(75,192,192,1)",
    pointHoverBorderColor: "rgba(220,220,220,1)",
    pointHoverBorderWidth: 2,
    pointRadius: 1,
    pointHitRadius: 10,
    data: [{% for item in cpus %} {{ item[8] }}, {% endfor %}],
    spanGaps: false
  }]
}

var cpu_usage_ctx = document.getElementById("cpu_usage_chart").getContext("2d");
var cpu_usage_chart = new Chart(cpu_usage_ctx, {
  type: 'line',
  data: cpu_usage_data,
  options: {
    tooltips: {
      enabled: true,
      mode: 'single',
      callbacks: {
        label: function(tooltipItems, data) {
          return tooltipItems.yLabel + ' %';
        }
      }
    },
  }
});
</script>
{% endif %}

{% if config[2] and disk_values|length > 0 %}
<script>
  {% for item in disk_values %}
{% if item[2]|length > 0 %}
var disk_data = {
  labels : [{% for i in item[2] %} "{{ i[5].strftime('%d/%m/%y %H:%M:%S') }}", {% endfor %}],
  datasets : [{
    label: 'Disk {{ item[1] }} free',
    fill: true,
    lineTension: 0.1,
    backgroundColor: "rgba(75,192,192,0.4)",
    borderColor: "rgba(75,192,192,1)",
    borderCapStyle: 'butt',
    borderDash: [],
    borderDashOffset: 0.0,
    borderJoinStyle: 'miter',
    pointBorderColor: "rgba(75,192,192,1)",
    pointBackgroundColor: "#fff",
    pointBorderWidth: 1,
    pointHoverRadius: 5,
    pointHoverBackgroundColor: "rgba(75,192,192,1)",
    pointHoverBorderColor: "rgba(220,220,220,1)",
    pointHoverBorderWidth: 2,
    pointRadius: 1,
    pointHitRadius: 10,
    data: [{% for i in item[2] %} {{ i[2] }}, {% endfor %}],
    spanGaps: false
  },
    {
      label: 'Disk {{ item[1] }} used',
      fill: true,
      lineTension: 0.1,
      backgroundColor: "rgba(10,90,255,0.4)",
      borderColor: "rgba(10,90,255,1)",
      borderCapStyle: 'butt',
      borderDash: [],
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "rgba(10,90,255,1)",
      pointBackgroundColor: "#fff",
      pointBorderWidth: 1,
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(10,90,255,1)",
      pointHoverBorderColor: "rgba(220,220,220,1)",
      pointHoverBorderWidth: 2,
      pointRadius: 1,
      pointHitRadius: 10,
      data: [{% for i in item[2] %} {{ i[3] }}, {% endfor %}],
      spanGaps: false
    }
  ]
}

var disk_ctx = document.getElementById("disk_chart_{{ item[0]}}").getContext("2d");
var disk_chart = new Chart(disk_ctx, {
  type: 'line',
  data: disk_data,
  options: {
    tooltips: {
      enabled: true,
      mode: 'single',
      callbacks: {
        label: function(tooltipItems, data) {
          return tooltipItems.yLabel + ' MiB';
        }
      }
    },
  }
});

var disk_inode_data = {
  labels : [{% for i in item[2] %} "{{ i[5].strftime('%d/%m/%y %H:%M:%S') }}", {% endfor %}],
  datasets : [{
    label: 'Disk {{ item[1] }} inodes',
    fill: true,
    lineTension: 0.1,
    backgroundColor: "rgba(66,66,232,0.4)",
    borderColor: "rgba(66,66,232,1)",
    borderCapStyle: 'butt',
    borderDash: [],
    borderDashOffset: 0.0,
    borderJoinStyle: 'miter',
    pointBorderColor: "rgba(66,66,232,1)",
    pointBackgroundColor: "#fff",
    pointBorderWidth: 1,
    pointHoverRadius: 5,
    pointHoverBackgroundColor: "rgba(66,66,232,1)",
    pointHoverBorderColor: "rgba(220,220,220,1)",
    pointHoverBorderWidth: 2,
    pointRadius: 1,
    pointHitRadius: 10,
    data: [{% for i in item[2] %} {{ i[4] }}, {% endfor %}],
    spanGaps: false
  }]
}

var disk_inode_ctx = document.getElementById("disk_inode_chart_{{ item[0]}}").getContext("2d");
var disk_inode_chart = new Chart(disk_inode_ctx, {
  type: 'line',
  data: disk_inode_data,
  options: {
    tooltips: {
      enabled: true,
      mode: 'single',
      callbacks: {
        label: function(tooltipItems, data) {
          return tooltipItems.yLabel + ' %';
        }
      }
    },
  }
});

{% endif %}
{% endfor %}
</script>

{% endif %}

{% if config[3] and mem_sys|length > 0 %}
<script>
  var mem_sys_data = {
    labels : [{% for item in mem_sys %} "{{item[7].strftime('%d/%m/%y %H:%M:%S')}}", {% endfor %}],
    datasets : [
      {
        label: 'System memory available',
        fill: true,
        lineTension: 0.1,
        backgroundColor: "rgba(75,192,192,0.4)",
        borderColor: "rgba(75,192,192,1)",
        borderCapStyle: 'butt',
        borderDash: [],
        borderDashOffset: 0.0,
        borderJoinStyle: 'miter',
        pointBorderColor: "rgba(75,192,192,1)",
        pointBackgroundColor: "#fff",
        pointBorderWidth: 1,
        pointHoverRadius: 5,
        pointHoverBackgroundColor: "rgba(75,192,192,1)",
        pointHoverBorderColor: "rgba(220,220,220,1)",
        pointHoverBorderWidth: 2,
        pointRadius: 1,
        pointHitRadius: 10,
        data: [{% for item in mem_sys %} {{ item[4] }}, {% endfor %}],
        spanGaps: false
      },
      {
        label: 'System memory used',
        fill: true,
        lineTension: 0.1,
        backgroundColor: "rgba(125,102,255,0.4)",
        borderColor: "rgba(125,102,255,1)",
        borderCapStyle: 'butt',
        borderDash: [],
        borderDashOffset: 0.0,
        borderJoinStyle: 'miter',
        pointBorderColor: "rgba(125,102,255,1)",
        pointBackgroundColor: "#fff",
        pointBorderWidth: 1,
        pointHoverRadius: 5,
        pointHoverBackgroundColor: "rgba(125,102,255,1)",
        pointHoverBorderColor: "rgba(220,220,220,1)",
        pointHoverBorderWidth: 2,
        pointRadius: 1,
        pointHitRadius: 10,
        data: [{% for item in mem_sys %} {{ item[5] }}, {% endfor %}],
        spanGaps: false
      },
      {
        label: 'System memory free',
        fill: true,
        lineTension: 0.1,
        backgroundColor: "rgba(255,44,44,0.4)",
        borderColor: "rgba(255,44,44,1)",
        borderCapStyle: 'butt',
        borderDash: [],
        borderDashOffset: 0.0,
        borderJoinStyle: 'miter',
        pointBorderColor: "rgba(255,44,44,1)",
        pointBackgroundColor: "#fff",
        pointBorderWidth: 1,
        pointHoverRadius: 5,
        pointHoverBackgroundColor: "rgba(255,44,44,1)",
        pointHoverBorderColor: "rgba(220,220,220,1)",
        pointHoverBorderWidth: 2,
        pointRadius: 1,
        pointHitRadius: 10,
        data: [{% for item in mem_sys %} {{ item[6] }}, {% endfor %}],
        spanGaps: false
      }
    ]
  }

var mem_sys_ctx = document.getElementById("mem_sys_chart").getContext("2d");
var mem_sys_chart = new Chart(mem_sys_ctx, {
  type: 'line',
  data: mem_sys_data,
  options: {
    tooltips: {
      enabled: true,
      mode: 'single',
      callbacks: {
        label: function(tooltipItems, data) {
          return tooltipItems.yLabel + ' MiB';
        }
      }
    },
  }
});

var mem_sys_perc_data = {
  labels : [{% for item in mem_sys %} "{{item[7].strftime('%d/%m/%y %H:%M:%S')}}", {% endfor %}],
  datasets : [
    {
      label: 'System memory percentage',
      fill: true,
      lineTension: 0.1,
      backgroundColor: "rgba(75,192,192,0.4)",
      borderColor: "rgba(75,192,192,1)",
      borderCapStyle: 'butt',
      borderDash: [],
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "rgba(75,192,192,1)",
      pointBackgroundColor: "#fff",
      pointBorderWidth: 1,
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(75,192,192,1)",
      pointHoverBorderColor: "rgba(220,220,220,1)",
      pointHoverBorderWidth: 2,
      pointRadius: 1,
      pointHitRadius: 10,
      data: [{% for item in mem_sys %} {{ item[2] }}, {% endfor %}],
      spanGaps: false
    }
  ]
}

var mem_sys_perc_ctx = document.getElementById("mem_sys_perc_chart").getContext("2d");
var mem_sys_perc_chart = new Chart(mem_sys_perc_ctx, {
  type: 'line',
  data: mem_sys_perc_data,
  options: {
    tooltips: {
      enabled: true,
      mode: 'single',
      callbacks: {
        label: function(tooltipItems, data) {
          return tooltipItems.yLabel + ' %';
        }
      }
    },
  }
});
</script>
{% endif %}

{% if config[4] and mem_swap|length > 0 %}
<script>
  var mem_swap_data = {
    labels : [{% for item in mem_swap %} "{{item[6].strftime('%d/%m/%y %H:%M:%S')}}", {% endfor %}],
    datasets : [
      {
        label: 'Swap memory used',
        fill: true,
        lineTension: 0.1,
        backgroundColor: "rgba(75,192,192,0.4)",
        borderColor: "rgba(75,192,192,1)",
        borderCapStyle: 'butt',
        borderDash: [],
        borderDashOffset: 0.0,
        borderJoinStyle: 'miter',
        pointBorderColor: "rgba(75,192,192,1)",
        pointBackgroundColor: "#fff",
        pointBorderWidth: 1,
        pointHoverRadius: 5,
        pointHoverBackgroundColor: "rgba(75,192,192,1)",
        pointHoverBorderColor: "rgba(220,220,220,1)",
        pointHoverBorderWidth: 2,
        pointRadius: 1,
        pointHitRadius: 10,
        data: [{% for item in mem_swap %} {{ item[4] }}, {% endfor %}],
        spanGaps: false
      },
      {
        label: 'Swap memory free',
        fill: true,
        lineTension: 0.1,
        backgroundColor: "rgba(125,102,255,0.4)",
        borderColor: "rgba(125,102,255,1)",
        borderCapStyle: 'butt',
        borderDash: [],
        borderDashOffset: 0.0,
        borderJoinStyle: 'miter',
        pointBorderColor: "rgba(125,102,255,1)",
        pointBackgroundColor: "#fff",
        pointBorderWidth: 1,
        pointHoverRadius: 5,
        pointHoverBackgroundColor: "rgba(125,102,255,1)",
        pointHoverBorderColor: "rgba(220,220,220,1)",
        pointHoverBorderWidth: 2,
        pointRadius: 1,
        pointHitRadius: 10,
        data: [{% for item in mem_swap %} {{ item[5] }}, {% endfor %}],
        spanGaps: false
      }
    ]
  }

var mem_swap_ctx = document.getElementById("mem_swap_chart").getContext("2d");
var mem_swap_chart = new Chart(mem_swap_ctx, {
  type: 'line',
  data: mem_swap_data,
  options: {
    tooltips: {
      enabled: true,
      mode: 'single',
      callbacks: {
        label: function(tooltipItems, data) {
          return tooltipItems.yLabel + ' MiB';
        }
      }
    },
  }
});

var mem_swap_perc_data = {
  labels : [{% for item in mem_swap %} "{{item[6].strftime('%d/%m/%y %H:%M:%S')}}", {% endfor %}],
  datasets : [
    {
      label: 'System memory percentage',
      fill: true,
      lineTension: 0.1,
      backgroundColor: "rgba(75,192,192,0.4)",
      borderColor: "rgba(75,192,192,1)",
      borderCapStyle: 'butt',
      borderDash: [],
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "rgba(75,192,192,1)",
      pointBackgroundColor: "#fff",
      pointBorderWidth: 1,
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(75,192,192,1)",
      pointHoverBorderColor: "rgba(220,220,220,1)",
      pointHoverBorderWidth: 2,
      pointRadius: 1,
      pointHitRadius: 10,
      data: [{% for item in mem_swap %} {{ item[2] }}, {% endfor %}],
      spanGaps: false
    }
  ]
}

var mem_swap_perc_ctx = document.getElementById("mem_swap_perc_chart").getContext("2d");
var mem_swap_perc_chart = new Chart(mem_swap_perc_ctx, {
  type: 'line',
  data: mem_swap_perc_data,
  options: {
    tooltips: {
      enabled: true,
      mode: 'single',
      callbacks: {
        label: function(tooltipItems, data) {
          return tooltipItems.yLabel + ' %';
        }
      }
    },
  }
});
</script>
{% endif %}

{% if config[5] and net_values|length > 0 %}
<script>
  {% for item in net_values %}
{% if item[2]|length > 0 %}
var net_data = {
  labels : [{% for i in item[2] %} "{{ i[3].strftime('%d/%m/%y %H:%M:%S') }}", {% endfor %}],
  datasets : [{
    label: 'Port {{ item[1] }}',
    fill: true,
    lineTension: 0.1,
    backgroundColor: "rgba(75,192,192,0.4)",
    borderColor: "rgba(75,192,192,1)",
    borderCapStyle: 'butt',
    borderDash: [],
    borderDashOffset: 0.0,
    borderJoinStyle: 'miter',
    pointBorderColor: "rgba(75,192,192,1)",
    pointBackgroundColor: "#fff",
    pointBorderWidth: 1,
    pointHoverRadius: 5,
    pointHoverBackgroundColor: "rgba(75,192,192,1)",
    pointHoverBorderColor: "rgba(220,220,220,1)",
    pointHoverBorderWidth: 2,
    pointRadius: 1,
    pointHitRadius: 10,
    data: [{% for i in item[2] %} {% if i[1] == item[1]  %} {% if i[2] %} 1 {% else %} 0 {% endif %} , {% endif %} {% endfor %}],
    steppedLine: true,
    spanGaps: false
  }]
}

var net_ctx = document.getElementById("net_chart_{{ item[0] }}").getContext("2d");
var net_chart = new Chart(net_ctx, {
  type: 'line',
  data: net_data,
  options: {
    tooltips: {
      enabled: true,
      mode: 'single',
      callbacks: {
        label: function(tooltipItems, data) {
          if (tooltipItems.yLabel == '0')
            return "Close"
          return "Open"
        }
      }
    },
  }
});

{% endif %}
{% endfor %}
</script>
{% endif %}

{% endblock %}
