{% extends 'template.html' %}

{% block title %} Edit Regex {% endblock %}
{% block main %}

<div class="container-md mt-3">
  <div class="row">
    <div class="col">
      <h1 class="title">Edit Regex</h1>
    </div>
    <div class="row">
      <div class="col">
        <div id="result"></div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <form>
          <div class="md-3 row mt-3">
            <label for="name" class="col-md-2 col-sm-3 col-form-label">Name: </label>
            <div class="col-md-10 col-sm-9">
              <input name="name" type="text" value="{{ regex[2] }}" class="form-control" id="name" required>
            </div>
          </div>
          <div class="md-3 row mt-3">
            <label for="files" class="col-md-2 col-sm-3 col-form-label">Files: </label>
            <div class="col-md-10 col-sm-9">
              <input name="files" type="text" value="{{ regex[5] }}" class="form-control" id="files" required>
              <div id="files" class="form-text">
                The file ex: /var/log/file.log
              </div>
            </div>
          </div>
          <div class="md-3 row mt-3">
            <label for="regex_value" class="col-md-2 col-sm-3 col-form-label">Value: </label>
            <div class="col-md-10 col-sm-9">
              <input name="regex_value" type="text" value="{{ regex[4] }}" class="form-control" id="regex_value" required>
              <div id="regex_value" class="form-text">
                The regex for the files
              </div>
            </div>
          </div>
          <div class="md-3 row mt-3">
            <label class="col-md-2 col-sm-3 col-form-label" for="type">Type: </label>
            <div class="col-md-10 col-sm-9">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="type" id="check_match" value="match">
                <label class="form-check-label" for="check_match">Match</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="type" id="check_all" value="all">
                <label class="form-check-label" for="check_all">Find All</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="type" id="check_search" value="search">
                <label class="form-check-label" for="check_search">Search</label>
              </div>
            </div>
          </div>
          <div class="md-3 row mt-3">
            <label for="server_id" class="col-md-2 col-sm-3 col-form-label">Server: </label>
            <div class="col-md-10 col-sm-9">
              <select id="server_id" class="form-select" aria-label="Select Server">
                <option disabled selected>Select Server</option>
                {% for item in servers %}
                <option value="{{ item[0] }}">{{ item[2] }}: {{ item[1] }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="mt-5 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary align-right">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
  $(document).ready(() => {
    $("input[name=type][value={{ regex[3] }}]").prop('checked', true);
    $("select").val("{{ regex[1] }}")

    $('form').on('submit', event => {
      val = $('input[name=type]:checked').val()

      if (val == null) {
        val = null
      }

      $.ajax({
        data: {
          name: $('#name').val(),
          files: $('#files').val(),
          value: $('#regex_value').val(),
          server_id: $('#server_id').val(),
          type: val
        },
        type: 'POST',
        url: '/regex/edit/{{ regex[0] }}'
      })
        .done(data => {
          $('#result').html(`<div class="alert alert-success alert-dismissible fade show" role="alert">
            ${ data.message }
            <button type="button" class="btn-close" data-bs-dismiss="alert"
            aria-label="Close"></button>
            </div>`)
          })
            .fail((data, status, error) => {
            $('#result').html(`<div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error: <br></strong> ${ data.responseJSON.error_message }
            <button type="button" class="btn-close" data-bs-dismiss="alert"
            aria-label="Close"></button>
          </div>`)
        })
      event.preventDefault();
    });
  });
</script>
{% endblock %}
