{% extends 'template.html' %}

{% block title %} Regex {% endblock %}
{% block main %}

<div class="container-md mt-3">
  <div class="row">
    <div class="col">
      <h1 class="title">Regex</h1>
      {% if n_servers > 0 %}
      <a href="/regex/add" class="btn btn-primary" role="button">
        <i class="fa fa-plus" aria-hidden="true" ></i> Add Regex
      </a>
      <div class="row">
        <div class="col">
          <div id="result"></div>
        </div>
      </div>
      {% else %}
      <div class="card bg-warning">
        <div class="card-body">
          <p class="card-text">There are no servers at this moment.</p>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col mt-3">
      {% if n_regexs > 0 %}
      <div class="table-responsive">
        <table class="table align-middle">
          <thead>
            <tr class="text-center">
              <th scope="col">#</th>
              <th scope="col">SERVER #</th>
              <th scope="col">NAME</th>
              <th scope="col">REGEX</th>
              <th scope="col">FILE</th>
              <th scope="col">OPTIONS</th>
            </tr>
          </thead>
          <tbody>
            {% for item in regexs %}
            <tr class="text-center">
              <th scope="row">{{ item[0] }}</th>
              <td>{{ item[1] }}</td>
              <td>{{ item[2] }}</td>
              <td>{{ item[4] }}</td>
              <td>{{ item[5] }}</td>
              <td class="d-grid gap-2 d-md-block">
                <a href="/regex/edit/{{ item[0] }}" type="button" class="btn btn-sm btn-warning">
                  <i class="fa fa-edit" aria-hidden="true"></i> Edit
                </a>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                                                    data-bs-target="#delete_{{ item[0] }}">
                  <i class="fa fa-trash" aria-hidden="true"></i> Delete
                </button>
                <!-- Modal -->
                <div class="modal fade"
                     id="delete_{{ item[0] }}" data-bs-backdrop="static" tabindex="-1" aria-labelledby="label_{{ item[0] }}" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="label_{{ item[0] }}">Delete {{ item[2] }}</h5>
                      </div>
                      <div class="modal-body">
                        This will delete all of the data related with this regex. <br>
                        This action will be permanent are you sure?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" id="btn_delete_{{ item[0] }}" class="btn btn-sm btn-danger"
                                                                              data-bs-dismiss="modal">Delete</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <div class="card bg-warning">
        <div class="card-body">
          <p class="card-text">There are no regexs at this moment.</p>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
  $(document).ready(() => {
    {% for item in regexs %}
    $('#btn_delete_{{ item[0] }}').on('click', event => {
      $.ajax({
        type: 'DELETE',
        url: '/regex/delete/{{ item[0] }}'
      })
        .done(data => { window.location.reload() })
        .fail((data, status, error) => {
          console.log(data.responseJSON.error_message)
          $('#result').html(`<div class="mt-5 alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error: <br></strong> ${ data.responseJSON.error_message }
            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
          </div>`)
        })
      event.preventDefault();
    });
    {% endfor %}
  })
</script>
{% endblock %}
